@if(product){

<mat-card class="card">
  <mat-card-header class="mb-3">
    <mat-card-title>
      <button mat-raised-button color="primary" class="mx-2" (click)="goBack()">
        Go Back
      </button>
      <strong> {{ product.name }} </strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-content>
        <p>
          <strong>Ingredients:</strong>
          {{
            product.ingredients
              ? product.ingredients
              : "Not available for this product"
          }}
        </p>
        <p><strong>Vegan:</strong> {{ product.isVegan ? "Yes" : "No" }}</p>
        <p><strong>Created At:</strong> {{ product.createdAt | date }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-3">
      <mat-card-content>
        <mat-card-subtitle
          ><strong>
            Nutrition info (values per 100 grams)
          </strong></mat-card-subtitle
        >
        <p><strong>Calories:</strong> {{ product.kcal }} kcal</p>
        <p><strong>Protein:</strong> {{ product.protein }} g</p>
        <p><strong>Fat:</strong> {{ product.fat }} g</p>
        <p><strong>Carbohydrate:</strong> {{ product.carbohydrate }} g</p>
        <p><strong>Fiber:</strong> {{ product.fiber }} g</p>
        <p><strong>Sodium:</strong> {{ product.sodium }} mg</p>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  @if(isAdmin){

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      class="mx-2"
      (click)="editProduct()"
    >
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="deleteProduct()">
      Delete
    </button>
  </mat-card-actions>
  }
</mat-card>
}
