.table-container {
  overflow-x: auto;
}
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: darken(#faf9fd, 3%);
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  @media (max-width: 1300px) {
    flex-direction: column;
  }
}

.search {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
