.table-container {
  overflow-x: auto;
}
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: darken(#faf9fd, 3%);
}

.filters {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
  @media (max-width: 1400px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.search {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
