body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2a3d66;
    padding: 1rem;
}

nav {
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: right;
}

nav a {
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    width: 20rem;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: inline-block;
}

form input {
    box-sizing: border-box;
}

form input, form select, form button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.action-form {
    padding: 0;
    margin: 0;
    border: none;
}

.action-button {
    width: min-content;
}

button {
    background-color: #5c9ead;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    width: min-content;
}

button:hover {
    background-color: #4a7c88;
}

table {
    margin: 1rem;
    width: 50%;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.8rem;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #5c9ead;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table a {
    color: #5c9ead;
    text-decoration: none;
    margin-right: 0.5rem;
}

table a:hover {
    text-decoration: underline;
}

section {
    padding: 0 1rem;
}