<div class="container mt-3">
  <mat-card class="card" appearance="outlined">
    <mat-card-content class="content">
      <div class="info">
        <h1>Welcome to the Calorie Tracker!</h1>
        <p>Discover a smarter way to manage your daily meals and nutrition.</p>
        <button mat-raised-button color="primary" (click)="goToRegister()">
          Get Started - It's Free
        </button>
      </div>
      <img width="350" height="350" alt="home page" src="/home-page.svg" />
    </mat-card-content>
  </mat-card>
</div>
