<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input matInput formControlName="oldPassword" type="password" required />
    @if(changePasswordForm.get('oldPassword')?.invalid &&
    changePasswordForm.get('oldPassword')?.touched){
    <mat-error>Old password is required.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="newPassword" type="password" required />
    @if(changePasswordForm.get('newPassword')?.invalid &&
    changePasswordForm.get('newPassword')?.touched){
    <mat-error>Password must be at least 8 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input
      matInput
      formControlName="confirmNewPassword"
      type="password"
      required
    />
    @if(changePasswordForm.get('confirmNewPassword')?.invalid &&
    changePasswordForm.get('confirmNewPassword')?.touched){
    <mat-error>Confirm new password is required </mat-error>
    } @if (changePasswordForm.get('confirmNewPassword')?.hasError('notSame')) {
    <mat-error>Passwords do not match</mat-error>
    }
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="changePasswordForm.invalid"
  >
    Change Password
  </button>
</form>
