@if(user){

<mat-card appearance="outlined">
  <mat-card-header class="user-header">
    <mat-card-title>User Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>With us since:</strong> {{ user.createdAt | date }}</p>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Manage Your Personal Data</mat-card-title>
      </mat-card-header>
      <mat-card-content class="user-forms">
        <app-change-password-form
          (passwordChange)="onChangePassword($event)"
        ></app-change-password-form>

        <app-change-email-form
          (emailChange)="onChangeEmail($event)"
          [currentEmail]="user.email"
        ></app-change-email-form>
        <mat-card-header>
          <mat-card-title>Danger Zone </mat-card-title>
        </mat-card-header>
        <button mat-raised-button color="warn" (click)="onDeleteAccount()">
          Delete Account
        </button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

}
