<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Product Details</h1>
    <section>
    <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
    <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
    <p><strong>Ingredients:</strong> <span th:text="${product.ingredients}"></span></p>
    <p>Values per 100 g</p>
    <p><strong>Energy (kcal):</strong> <span th:text="${product.kcal}"></span></p>
    <p><strong>Protein (g):</strong> <span th:text="${product.protein}"></span></p>
    <p><strong>Fat (g):</strong> <span th:text="${product.fat}"></span></p>
    <p><strong>Carbohydrates (g):</strong> <span th:text="${product.carbohydrate}"></span></p>
    <p><strong>Fiber (g):</strong> <span th:text="${product.fiber}"></span></p>
    <p><strong>Sodium (mg):</strong> <span th:text="${product.sodium}"></span></p>
    <p><strong>Is Vegan:</strong> <span th:text="${product.isVegan}"></span></p>
    <a th:href="@{/web/products}">Back to Products</a>
    </section>
</body>
</html>